@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="jumbotron">
        <img src="~/img/mindweb_esolutions_logo_small-160x96.png" class="img-fluid" />
        <hr />
        <h1>Mindweb eSolutions - .NET Core Template</h1>
    </div>
</div>
