$theme-colors: ( "primary": #036E3A, "info": #5b99ea, "success": #3CBF98, "warning": #EEBF41, "danger": #d26d69 );


@import "../lib/bootstrap5/bootstrap/scss/bootstrap";

html {
    height: 100%;
}

ul,li,a{
    text-decoration: none;
}