@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

    <div class="row  align-items-center  shadow-sm px-sm-4 bg-white py-4 px-4">
        <div class="col-lg-7 text-center text-lg-start">
            <img class="mb-3 w-50" src="~/img/mindweb_esolutions_logo_small-160x96.png" alt="logo"/>
            <p class="col-lg-10 fs-6 d-none d-sm-block">Mindweb eSolutions is a consulting-oriented software company, intending to fill in the market need for a professional, customer-focused software company.</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">

            <form class="p-4 p-md-5 border rounded-3 bg-light" method="post">
                @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                {
                    <div class="alert alert-info m-0 mb-3 p-2" role="alert">
                        @foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
                        {
                            <p class="m-0">@modelError.ErrorMessage</p>
                        }
                    </div>
                }
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Input.Email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Input.Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="checkbox mb-3 d-flex justify-content-between">
                    <div>
                        <input type="checkbox" value="remember-me"> Remember me
                    </div>
                    <div class="forgot-password text-end">
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </div>
                </div>

                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <div class="auth-option text-center mt-4">No Account? Sign up <a class="text-link" asp-page="/Registration/Index" asp-route-returnUrl="@Model.ReturnUrl">here</a>.</div>
                <hr class="my-4 d-sm-none">
                <small class="text-muted d-sm-none">Mindweb eSolutions is a consulting-oriented software company, intending to fill in the market need for a professional, customer-focused software company.</small>
            </form>
        </div>
    </div>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
