@page
@model Web.Pages.TicketScaffolded.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Ticket.TicketID" />
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Details" class="control-label"></label>
                <input asp-for="Ticket.Details" class="form-control" />
                <span asp-validation-for="Ticket.Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.DateCreated" class="control-label"></label>
                <input asp-for="Ticket.DateCreated" class="form-control" />
                <span asp-validation-for="Ticket.DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CreatedBy" class="control-label"></label>
                <input asp-for="Ticket.CreatedBy" class="form-control" />
                <span asp-validation-for="Ticket.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
