@page
@model Web.Pages.TicketApp.IndexModel
@{
}

<div class="d-inline">
    <a id="reload" class="btn btn-success">
        <i class="fas fa-refresh"></i> Refresh Tickets
    </a>
    <a onclick="jQueryModalGet('?handler=CreateEdiTicketModal', 'Create Ticket')" class="btn btn-warning">
        + Create Ticket
    </a>
</div>


<div id="viewTicket">
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#viewTicket').load('?handler=ViewTicketPartial');
        });
        $(function () {
            $('#reload').on('click', function () {
                $('#viewTicket').load('?handler=ViewTicketPartial');
            });
        });
    </script>
}